:host {
	--component--accent-bgcolor: var(--sample-cframe--accent-bgcolor, salmon);
	--component--accent-color: var(--sample-cframe--accent-bgcolor, #ffffff);

	display: block;
}

header {
	background-color: var(--component--accent-bgcolor);
	color: var(--component--accent-color);
	padding-top: 1rem;

	& h1 {
		margin-bottom: 1rem;

		& img {
			display: block;
		}
	}

	& .breadcrumbs {
		background-color: #cccccc;
		color: #000000;
		padding-top: 1rem;

		& a {
			color: #000000;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

main {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

footer {
	background-color: var(--component--accent-bgcolor);
	color: var(--component--accent-color);
	padding-top: 2rem;
	padding-bottom: 1rem;
}


